@import '../../app/colors.scss';

$PAHeight: 2rem;
$PAButtonWidth: 2rem;
$PAInputWidth: $PAButtonWidth * 6;
$PAControllWidth: $PAButtonWidth * 8;

.select-parent-area__line {
  display: flex;
  height: $PAHeight;
  width: $PAControllWidth;

  &-warning {
    outline: 1px dotted $color-warning;
  }
}
.select-parent-area__input {
  text-align: left;

  width: $PAInputWidth;
  height: 100%;
  padding: 5px;

  color: $color-primary;

  &-OK {
    color: $color-success;
  }
}

.select-parent-area__down-arrow-button,
.select-parent-area__clear-arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: $PAButtonWidth;
  height: 100%;
}

.select-parent-area__list {
  position: absolute;
  width: $PAInputWidth;

  text-align: left;
  background-color: $color-clouds;
}

.select-parent-area__item {
  padding: 5px;
  color: $color-secondary;
  &:hover {
    background-color: $color-silver;
  }
}

.select-parent-area__item-current {
  background-color: $color-silver;
}
