.select-parent-area__container {
  width: 300px;
  padding: 0 5px;

  background-color: lightgray;
}

.select-parent-area__line {
  display: flex;
  height: 24px;
}
.select-parent-area__input {
  text-align: left;
  width: calc(100% - 24px - 24px);
  height: 24px;
}

.select-parent-area__down-arrow-button,
.select-parent-area__clear-arrow-button {
  padding: 0;
  width: 24px;
  height: 24px;
}

.select-parent-area__list {
  text-align: left;
}

.select-parent-area__item:hover {
  background-color: lightcyan;
}
