@import '../../app/colors.scss';

.select-parent-area__container {
  width: 300px;
  padding: 0 5px;
}

.select-parent-area__line {
  display: flex;
  height: 24px;
}
.select-parent-area__input {
  text-align: left;
  width: calc(100% - 24px - 24px);
  height: 24px;

  color: $color-primary;
}

.select-parent-area__down-arrow-button,
.select-parent-area__clear-arrow-button {
  padding: 0;
  width: 24px;
  height: 24px;
}

.select-parent-area__list {
  position: absolute;
  width: 242px;

  text-align: left;
  background-color: $color-clouds;
}

.select-parent-area__item {
  color: $color-secondary;
  &:hover {
    background-color: $color-silver;
  }
}

.select-parent-area__item-current {
  background-color: $color-silver;
}
