@import '../../app/colors.scss';

$SCHeight: 2rem;
$SCButtonWidth: 2rem;
$SCInputWidth: $SCButtonWidth * 6;
$SCControllWidth: $SCButtonWidth * 8;
$SCMaxListHeight: $SCHeight * 10;

.select-component__line {
  display: flex;
  height: $SCHeight;
  width: $SCControllWidth;

  margin: 0 5px;

  &-warning {
    outline: 1px dotted $color-warning;
  }
}
.select-component__input {
  text-align: left;

  width: $SCInputWidth;
  height: 100%;
  padding: 5px;

  color: $color-primary;

  &-OK {
    color: $color-success;
  }
}

.select-component__down-arrow-button,
.select-component__clear-arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: $SCButtonWidth;
  height: 100%;
}

.select-component__list {
  position: absolute;
  width: $SCInputWidth;
  max-height: $SCMaxListHeight;
  overflow: auto;

  margin: 0 5px;

  text-align: left;
  background-color: $color-clouds;
}

.select-component__item {
  padding: 5px;
  color: $color-secondary;
  &:hover {
    background-color: $color-silver;
  }
}

.select-component__item-current {
  background-color: $color-silver;
}
